# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# FastAPI uvicorn logs
*.log

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# dotenv environment variables
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VSCode settings
.vscode/

# macOS
.DS_Store

# JetBrains IDEs
.idea/

# Pycharm
*.iml

# MyPy
.mypy_cache/

# MongoDB dump files
dump/

# Database files
*.db
*.sqlite3

# Others
*.egg-info/
build/
dist/
